*~
*.prof
*.so
.*.swp
coverage.out
/bazel-bin
/bazel-genfiles
/bazel-go-jsonnet
/bazel-out
/bazel-testlogs
/dumpstdlibast

# built binaries
/jsonnet
/jsonnet.exe

/linter/jsonnet-lint/jsonnet-lint
/tests_path.source
